* {
  margin: 0;
  padding: 0;
  text-align: center;
}
body {
  background-color: #d6dcd2;
  font-family: 'Roboto', sans-serif;
}
.choice {
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 240px;
  width: 240px;
}

h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #536493;
  color: #fff1db;
  padding: 3px;
    font-size: 3rem;
    border-radius: 0px 0px 10px 10px;
}
img {
  height: 220px;
  width: 220px;
  object-fit: cover;
  border-radius: 50%;
}
.choices {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin: 10px;
}
.choice:hover {
  cursor: pointer;
  background-color: black;
}
.scoreboard {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
}
#user,
#computer {
  font-size: 4rem;
  margin: 3rem;
  gap: 5rem;
}
.score {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.content {
  display: inline;
  font-size: 2rem;
  background-color: #536493;
  color: #fff1db;
  border: 2px solid;
  border-radius: 7rem;
  margin: 1rem;
  padding: 1rem;
}
